<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="description">
    <meta name="keywords" content="">
    <title>Блок1</title>
    <link rel="stylesheet" href="slide2/assets/css/style.css">
  </head>
  <body>
    <div class="name-slider-section">
      <div class="name-slider-container">
        <div class="name-slider swiper-container">
          <div class="name-slider__wrapper swiper-wrapper">
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">1 слайд</div>
                        </div>
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">2 слайд</div>
                        </div>
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">3 слайд</div>
                        </div>
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">4 слайд</div>
                        </div>
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">5 слайд</div>
                        </div>
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">6 слайд</div>
                        </div>
                        <div class="name-slider-slide swiper-slide">
                          <div class="name-slider-slide__title">7 слайд</div>
                        </div>
          </div>
        </div>
      </div>
      <div class="name-slider-pagination"></div>
      <div class="name-slider-navigation">
        <div class="name-slider-navigation__button-prev"></div>
        <div class="name-slider-navigation__button-next"></div>
      </div>
    </div>
    <script src="/components/sliders/slide2/assets/js/main.js"></script>
  </body>
</html>
